 /**
  * DEVELOPMENT
  */

  #devbox {
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    left: 24px;
    top: 48px;
    border-radius: 3px;
    z-index: 9;
    background-color: #e8a9f5;
    border: 1px solid #000000;
    box-shadow: 5px 5px #80668198;
    text-align: center;
    padding: 1em;
    color: rgb(46, 46, 46);
    cursor: grab;
  }

  #devbox input {
    cursor: pointer;
  }
  