@charset "UTF-8";

/**
 * Variables
 */
:root {
  --font-family: Arial, Helvetica, sans-serif;
  --line-height: 1.5em;
  --font-weight: 400;
  /* 400 normal; 700 bold */
  --font-size: 16px;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);

  /* Development */
  --devcolor: rgba(0, 4, 255, 0.285);
  /* rgb(155, 155, 155); */
}

/*
 * Reset
 */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/**
 * Typography
 */

h1 {
  font-size: 3rem;
  margin-top: 0;
  line-height: var(--line-height) * 2;
  margin-bottom: var(--line-height);
  vertical-align: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 28px;
  line-height: var(--line-height) * 2;
  margin-bottom: var(--line-height);
}

h3 {
  font-size: 20px;
}

/**
 * Layout
 */

/**
 * Theme
 */

/**
  * Tables
  */

table {
  display: table;
  width: 100%;
}

tr {
  border-bottom-width: 3px;
  border-bottom-color: black;
  border-bottom-style: solid;
  width: 100%;
}

th {
  font-weight: calc(var(--font-weight) * 2);
  width: 100%;
  border-bottom-width: 3px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

/**
 * Forms
 */

form input {
  display: inline;
  font-size: calc(var(--font-size) * 1);
  width: 100%;
  height: 1.4rem
}

form label {
  display: inline-block;
  width: 100%;
  font-size: var(--font-size);
  font-weight: calc((var(--font-weight) / 4) * 7);
  user-select: none;
  /* 700 bold */
}

form fieldset div > label {
  display: inline-block;
  width: auto
}

form fieldset div > input {
  width: 100%;
  margin: 1rem 0 
}


form fieldset {
  border: 1px solid #aaa;
  margin: 1rem 0;
  width: 100%;
}

pre {
  background-color: #f1f1f1;
  padding: 0.5em;
  margin: 0;
}


/* ******************************************************************** */
/*                             DEVELOPMENT                              */
/* ******************************************************************** */


#overlay {
  background-image : linear-gradient(var(--devcolor) 1px, transparent 1px);
  background-size : auto calc(var(--line-height) * 0.8);
  pointer-events:none; 
  width:100%;
  height:100vh;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  background-color: rgba(0, 0, 255, 0.308);
}

#devbox {
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  left: 24px;
  top: 96px;
  border-radius: 3px;
  z-index: 1000;
  background-color: #ffa;
  border: 1px solid #000000;
  box-shadow: 5px 5px #80668198;
  padding: 1em;
  color: rgb(46, 46, 46);
  cursor: grab;
  text-align: left;
}

#devbox input {
  cursor: pointer;
}

.dragable {
  position: absolute;
  border: 1px solid #ddd;
}