<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
      <header>
        Header
      </header>

      <aside role="nav">
        <ul>
          <li>Buttons</li>
        </ul>
      </aside>

      <main role="main">

        <h1>Wavelet UI Components</h1>

        <div class="section">
          <h2>Buttons</h2>

          <button>Submit</button> <br />
          <button type="submit">Submit</button> <br />
          <button type="reset">Reset</button> <br />
          <button type="button">Click</button> <br />
  
          <input type="submit" /> <br />
          <input type="button" value="Click"/> <br />
  
          <wui-button value="submit">Submit</wui-button>

          
  
        </div>
        
        <h2>Tooltips</h2>
        <time-formatted id="elem" hour="numeric" minute="numeric" second="numeric"></time-formatted>

        <h2>Tables</h2>
      </main>

      <!-- <footer>
        Footer
      </footer> -->
    </div>

  </body>

  <script type="module" src="index.js" defer></script>
</html>